/* SPDX-License-Identifier: CC0-1.0 */

.skip {
	font: 0.9em/1.62 sans-serif;
}

code {
	font: 0.9em/1.62 sans-serif;
}

pre {
	font: 0.8em/1.4 monospace, sans-serif;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
