body {
	margin: 1em auto;
	max-width: 40em;
	padding: 0 .62em;
	font: 1.2em/1.62 sans-serif;
}
h1,h2,h3 {
	line-height: 1.2;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}
pre {
	font: 1.1em/1.1 monospace, sans-serif;
}
@media print{
	body{
		max-width: none;
	}
}
a.toclink {
	text-decoration: none;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.top {
	font: 0.9em/0.9 sans-serif;
}
.bottom {
	font: 0.9em/1.4 sans-serif;
}
.feed {
	border-radius: 0px;
}
